@page "/counter"
@using Puppy.Types
@using PuppyApp.BlazorComponents
<h1>Counter</h1>


<ComplexObjectEditor PropertyDescriptor="@_mainForm"></ComplexObjectEditor>


@code {
    private 
        ComplexPropertyDescriptor _mainForm = new ComplexPropertyDescriptor([
            new IntPropertyDescriptor("Age", 3, true ),
            new IntPropertyDescriptor("Grade", 2, false ),
            new StringPropertyDescriptor("MiddleName", 3, true )
            
        ], "StudentEnrollment");


}