@using Humanizer
@using Microsoft.FluentUI.AspNetCore.Components
@using Puppy.Types


<FluentTextField @bind-Value="EditValue" Label="@Label" Maxlength="@PropertyDescriptor.MaxLen" />
<span class="err-msg">@Error</span>

@code {
    private string? _editValue;
    private StringPropertyDescriptor _propertyDescriptor;
    private string? _label;

    [Parameter]
    [EditorRequired]
    public StringPropertyDescriptor PropertyDescriptor
    {
        get => _propertyDescriptor;
        set
        {
            _propertyDescriptor = value;
            Label = _propertyDescriptor.Name;
        }
    }

    [Parameter]
    public string? EditValue
    {
        get => _editValue;
        set
        {
            _editValue = value;
            var errors = _propertyDescriptor.Validate(_editValue);
            Error = string.Join(" | ", errors.Select(e => e.Description));
        }
    }

    string? Label
    {
        get => _label ?? _propertyDescriptor.Name.Humanize();
        set => _label = value;
    }

    string? Error { get; set; } 
}